appdirs==1.4.4
asgiref==3.4.1
async-exit-stack==1.0.1
async-generator==1.10
bcrypt==3.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cssselect==1.1.0
dataclasses==0.8
ecdsa==0.17.0
fake-useragent==0.1.11
fastapi==0.68.2
greenlet==1.1.2
h11==0.12.0
idna==3.2
importlib-metadata==4.8.1
lxml==4.6.3
parse==1.19.0
passlib==1.7.4
pkg-resources==0.0.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
pyee==8.2.2
pyppeteer==0.2.6
pyquery==1.4.3
python-jose==3.3.0
python-multipart==0.0.5
requests==2.26.0
requests-html==0.10.0
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
starlette==0.14.2
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
w3lib==1.22.0
websockets==9.1
zipp==3.6.0
